<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reddit</title>
</head>
<body>
<h2>Mettre à jour votre mot de passe</h2>
<form action="#" th:action="@{/password}" method="post" th:object="${userAttribute}">
    <div>
        <div>
            <input id="op" type="text" name="oldPassword" placeholder="Ancien mot de passe" class="form-control">
            <span  th:if="${!#strings.equals(userAttribute.getPassword(), oldPassword)}">Ancien mot de passe invalide</span>
        </div>

        <div>
            <input type="text" id="p" name="password" placeholder="Nouveau mot de passe" class="form-control">
        </div>

        <div>
            <input type="text" id="cp" name="confirmPassword" placeholder="Confirmer le nouveau mot de passe" class="form-control">
            <span  th:if="${!#strings.equals(password, confirmPassword)}" >Mot de passe invalide</span>
        </div>
    </div>
    <div><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button></div>

</form>
</body>
</html>