<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reddit</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>Mettre à jour votre mot de passe</h2>
<form th:action="@{/settings}" method="post" th:object="${credentials}">
    <div>
        <input type="hidden" th:value="${credentials.getLogin()}"  th:field="*{login}" th:errorclass="field-error"  />
        <div>
            <label for="oldPassword">Ancien mot de passe</label>
            <input id="oldPassword" type="text" name="oldPassword" placeholder="Ancien mot de passe" class="form-control">
        </div>

        <div class="form-row">

            <div class="col-md-6">
                <label for="password">Password *</label>
                <input id="password" name="password" th:field="*{password}" type="password"
                       class="form-control" placeholder="Password"
                       th:classappend="${#fields.hasErrors('password')}? 'is-invalid'" required>
                <div class="invalid-feedback">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <label for="confirm">Confirm Password *</label>
                <input id="confirm" name="confirm" type="password" class="form-control"
                       placeholder="Confirm password" required>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block" onclick="checkPasswordMatch(event)" type="submit">Save</button>
    </div>

</form>
<script>
    function checkPasswordMatch(e){
        var pwd = document.getElementById("password").value;
        var pwd2 = document.getElementById("confirm").value;
        if (pwd !== pwd2) {
            e.preventDefault();
            e.stopPropagation();
            document.getElementById("confirm").classList.add("is-invalid");
        }
    }
</script>
</body>
</html>