<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit - Login</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/drop_down_style_file.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body  class="bg-light text-dark">

<div th:replace="Menu_bar :: navBar"/>

<h2>Update your Password</h2>
<form th:action="@{/settings}" method="post" th:object="${credentials}">
    <div>
        <input type="hidden" th:value="${credentials.getLogin()}"  th:field="*{login}" th:errorclass="field-error"  />
        <div class="form-row">
            <div class="col-md-6">
                <label for="oldPassword">Previous Password</label>
                <input id="oldPassword" type="password" name="oldPassword" placeholder="Previous Password" class="form-control">
            </div>
        </div>

        <div class="form-row">

            <div class="col-md-6">
                <label for="password">New Password</label>
                <input id="password" name="password" th:field="*{password}" type="password"
                       class="form-control" placeholder="New Password"
                       th:classappend="${#fields.hasErrors('password')}? 'is-invalid'" required>
                <div class="invalid-feedback">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <label for="confirm">Confirm Password</label>
                <input id="confirm" name="confirm" type="password" class="form-control"
                       placeholder="Confirm password" required>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block" onclick="checkPasswordMatch(event)" type="submit">Save</button>
    </div>

</form>
<script>
    function checkPasswordMatch(e){
        var pwd = document.getElementById("password").value;
        var pwd2 = document.getElementById("confirm").value;
        if (pwd !== pwd2) {
            e.preventDefault();
            e.stopPropagation();
            document.getElementById("confirm").classList.add("is-invalid");
        }
    }
</script>
</body>
</html>