<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<style th:replace="Menu_bar :: drop_down_style"/>-->
    <link rel="stylesheet" href="/css/drop_down_style_file.css"/>


</head>
<body class="bg-light text-dark">

<div th:replace="Menu_bar :: navBar"/>

<div th:replace="topics_pagination :: topicsPagination(${topicsPage}, ${pageNumbers})"/>


</body>
</html>