<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit - Login</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/drop_down_style_file.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body class="bg-light text-dark">

<div th:replace="Menu_bar :: navBar"></div>
<div th:replace="topics_listing :: filter(allFilters = ${allFilters}, selected=${sortMethod})"></div>
<div th:replace="topics_listing :: topicsListing(${topicsPage}, ${userUpVote}, ${userDownVote})"/>

<div th:replace="tablePagination :: tablePagination(page = ${topicsPage}, link = @{'/'+${sortMethod}})"></div>

</body>
</html>