<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <h1>Reddit</h1>
    <ul>
        <li><a th:href="@{/login}">Log in</a></li>
        <li><a th:href="@{/subject/createNewSubject}">Create a new post</a></li>
        <li><a th:href="@{/redirect?to=https://www.reddit.com}">The true Reddit</a></li>
    </ul>
    <h2>Posts</h2>
    <div th:if="${postService != null}">
        <div>
            <ul>
                <li th:each="line : ${postService.getAllPosts()}">
                    <a th:href="@{/post/{id}(id=${line.getId()})}" th:text="${line.getTitle()}"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>