<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit - Login</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<style th:replace="Menu_bar :: drop_down_style"/>-->
    <link rel="stylesheet" href="/css/drop_down_style_file.css"/>
</head>
<body>

    <div th:replace="Menu_bar :: navBar_login_logout_register"/>

    <div sec:authorize="isAuthenticated()" class="container pt-5">
        <p>
        Hello there <b><span th:text="${#authentication.name}"/></b>!<br>
        Seems you are already loged in, you will be redirected to the main page in a few seconds.
           <script th:inline="javascript">
            /*<![CDATA[*/
                var timer = setTimeout(function() {
                window.location=[[${@environment.getProperty('url.app.index')}]]
            }, 7000);
            /*]]>*/
            </script>
        </p>
    </div>

    <div sec:authorize="!isAuthenticated()" class="container pt-5">

        <div class="d-flex justify-content-center">
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form class="form-signin" method="POST" th:action="@{/login}">
                <p>
                <div class="form-group">
                    <label for="username" class="sr-only col-md-2">Login</label>
                    <input type="text" id="username" name="username" class="form-control"
                           placeholder="Login" required autofocus>
                </div>
                </p>
                <p>
                    <div class="form-group">
                    <label for="password" class="sr-only col-md-2">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="Password" required>
                    </div>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
            </div>
    </div>
</body>
</html>