<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit</title>
</head>
<body>
<h1>Log in</h1>
<form action="#" th:action="@{/login}" th:object="${credentials}" method="post">
    <div>
        <label for="login_input">Login</label>
        <input th:field="*{login}" id="login_input" type="text" name="login">
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" />

        <!--
        <label for="first_name">First name:</label>
        <input id="first_name" type="text" th:field="*{firstName}" />
        <span  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid first name</span>
        -->
    </div>

    <div>
        <label for="password_input">Password</label>
        <input th:field="*{password}" type="password" id="password_input" name="password">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />


    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
    <div th:if="${param.error}">
        User not found or invalid password
    </div>
</form>
</body>

</html>