<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reddit</title>
</head>
<body>
    <div th:fragment="topic (topic)">
        <h1 th:text="${topic.getTitle()}"></h1>

        <div th:replace="message-fragment :: message(message = ${topic.getMessage()})"/>

        <div sec:authorize="isAuthenticated()">
            <div th:replace="message-fragment :: replybox"/>
        </div>
    </div>
</body>
</html>