<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sprVotre positioningsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/pagination_style_file.css"/>
    <link rel="stylesheet" href="/css/drop_down_style_file.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<div th:fragment="topicsListing(topicsPage)" >
    <div class="container">

        <div class="row">

            <div class="col-lg-10 ">
                <div class="d-flex flex-column">
                    <div class="card w-100 pt-10" th:each="topic :${topicsPage.getContent()}">
                                <div class="row">
                                    <div class="col-sm-2 d-flex align-content-center justify-content-center flex-wrap"> <!-- score / votes-->
                                        <div class="row row-cols-2">
                                    <div class="col">
                                        <form th:action="@{/vote/downVote/{id}(id=${topic.getId()})}" method="post">
                                            <button style="font-size:14px"><i class="far fa-thumbs-down" aria-hidden="true"></i></button>
                                        </form>
                                    </div>
                                    <div class="col">

                                            <form th:action="@{/vote/upVote/{id}(id=${topic.getId()})}" method="post">
                                                    <button  style="font-size:14px"><i class="far fa-thumbs-up" aria-hidden="true"></i></button>
                                               <!-- <button  style="font-size:14px"><i class="bi bi-hand-thumbs-up-fill"></i></button-->

                                            </form>

                                    </div>
                                    <div class="flex-grow-1 text-center col-6">
                                        <span th:text="${topic.getMessage().getScore()}"/>
                                    </div>
                                </div>
                            </div>
                           <div class="col-sm d-flex flex-column bd-highlight">
                               <div class="p-2 bd-highlight">
                                   <h5 class="card-title" th:text="${topic.getTitle()}"/>
                                   <a  class="card-link" href="/u/author">
                                       <h6 class="card-subtitle mb-2 text-muted" >author</h6>
                                   </a>
                               </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 d-flex align-content-center justify-content-center flex-wrap"> <!-- button sup admin -->
                                <form sec:authorize="hasRole('ADMIN')" class="form-inline" method="post" th:action="${'/topic/delete/'+topic.getId()}">
                                    <button class="btn btn-outline-danger btn-sm" type="submit" >Delete</button>
                                </form>
                            </div>
                            <div class="col-sm d-flex p-2 flex-grow-1 bd-highlight justify-content-between">
                                <div> <!--comments -->
                                    <a th:href="${'/topic/'+topic.id}">
                                        <form class="form-inline">
                                            <button type="button" class="btn btn-secondary btn-sm">Comments</button>
                                        </form>
                                    </a>
                                </div>
                                <div> <!--time stamp -->
                                    <p class="d-flex mr-10 fw-light" th:text="${#dates.format(topic.message.timeStamp, 'dd-MM-yyyy HH:mm')}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

<div th:fragment="filter(allFilters, selected)">
    <div class="d-flex justify-content-around mt-2 mb-2">
        <div th:each="filter : ${allFilters}">
            <a th:href="@{'/'+${filter}}">
                <button type="button" class="btn btn-sm"
                        th:classappend="${selected == filter}? 'btn-primary':'btn-outline-secondary'"
                        th:text="${filter}"></button>
            </a>
        </div>
    </div>
</div>

</body>
</html>