<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background="http://www.w3.org/1999/xhtml"
      xmlns:border="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/pagination_style_file.css"/>
    <link rel="stylesheet" href="/css/drop_down_style_file.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<div th:fragment="topicsPagination(topicsPage, pageNumbers, userUpVote, userDownVote)" >
    <h2>Posts</h2>
      <div class="container">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">

                <div>
                    <div class="card w-100 pt-10" th:each="topic :${topicsPage}">
                        <div class="row">
                            <div class="col-sm-2 d-flex align-content-center justify-content-center flex-wrap"> <!-- score / votes-->
                                <div class="row row-cols-2">
                                    <div class="col">
                                       <form th:action="@{/vote/downVote/{id}(id=${topic.getMessage().getId()})}" method="post">
                                            <th:block th:switch="${userDownVote.contains(topic.getMessage().getId())}">
                                                <button th:case="${true}"  style="border: none; font-size:15px; background-color:white"><i class="far fa-thumbs-down text-danger" aria-hidden="true"></i></button>
                                                <button th:case="${false}" style="border: none; font-size:15px; background-color:white"><i class="far fa-thumbs-down" aria-hidden="true"></i></button>
                                            </th:block>
                                        </form>
                                    </div>
                                    <div class="col">
                                            <form th:action="@{/vote/upVote/{id}(id=${topic.getMessage().getId()})}" method="post">
                                                <th:block th:switch="${userUpVote.contains(topic.getMessage().getId())}">
                                                    <button th:case="${true}"  style=" border: none; font-size:15px; background-color:white"><i class="far fa-thumbs-up text-success" aria-hidden="true"></i></button>
                                                    <button th:case="${false}" style=" border: none; font-size:15px; background-color:white"><i class="far fa-thumbs-up" aria-hidden="true"></i></button>
                                                </th:block>
                                            </form>
                                    </div>
                                    <div class="flex-grow-1 text-center col-6">
                                        <span th:text="${topic.getMessage().getScore()}"/>
                                    </div>
                                </div>
                            </div>
                           <div class="col-sm d-flex flex-column bd-highlight">
                               <div class="p-2 bd-highlight">
                                   <h5 class="card-title" th:text="${topic.title}"/>
                                   <a  class="card-link" href="/u/author">
                                       <h6 class="card-subtitle mb-2 text-muted" >author</h6>
                                   </a>
                               </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 d-flex align-content-center justify-content-center flex-wrap"> <!-- button sup admin -->
                                <form sec:authorize="hasRole('ADMIN')" class="form-inline" method="post" th:action="${'/topic/delete/'+topic.id}">
                                    <button class="btn btn-outline-danger btn-sm" type="submit" >Delete</button>
                                </form>
                            </div>
                            <div class="col-sm d-flex p-2 flex-grow-1 bd-highlight justify-content-between">
                                <div> <!--comments -->
                                    <a th:href="${'/topic/'+topic.id}">
                                        <form class="form-inline">
                                            <button type="button" class="btn btn-secondary btn-sm">Comments</button>
                                        </form>
                                    </a>
                                </div>
                                <div> <!--time stamp -->
                                    <p class="d-flex mr-10 fw-light" th:text="${#dates.format(topic.message.timeStamp, 'dd-MM-yyyy HH:mm')}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</div>


</body>
</html>